.ribbon .ribbon-item {
    padding: 3px;
}

.ribbon .ribbon-item.selected {
    background-color: #cfc;
}

.ribbon-container {
    bottom: 10px;
    left: 10px;
    position: absolute;
    top: 120px;
}

.body-text {
    bottom: 100px;
    left: 180px;
    overflow-y: scroll;
    position: absolute;
    right: 20px;
    top: 120px;
}

.body-text tr.highlighted {
    background-color: #cfc;
}

.body-text .contentsubtitle {
    font-weight: bold;
}

.bibliography {
    bottom: 10px;
    font-size: 12px;
    left: 180px;
    position: absolute;
    right: 10px;
}
